/* FONT FAMILY */

@font-face {
    font-family: "Ralway";
    src: url("assets/fonts/Raleway/static/Raleway-Regular.ttf") format("ttf")
   }

/* END FONT FAMILY */

/* GLOBAL CSS */

*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    max-width: 992px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Ralway', Arial, sans-serif;
}


/* GLOBAL CLASS */

.flex-container{
    display: flex;
}

/* HEADER CSS */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#header-logo a{
    display: flex;
    justify-content: center;
}

#header-logo img{
    scale: 0.4;
}

.main-nav{
    width: 30%;
}

.main-nav-list{
    width: 100%;
    list-style: none;
    justify-content: center;
}

.main-nav-list-item{
    width: 50%;
    display: flex;
    text-align: center;
}

.main-nav-link{
    color:lightgrey;
    line-height:8.5;
    width: 100%;
    text-decoration: none;
}

.main-nav-link:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC ;
}

/* MAIN SECTION CSS*/

/* SEARCH SECTION */ 






/* RESPONSIVE */

/* TABLETTES */
@media screen and (max-width: 992px)
{
    
}

/* TELEPHONE */
@media screen and (max-width: 768px)
{
    /* header css*/ 

    header{
        width: 100%;
        flex-wrap: wrap;
    }

    #header-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header-logo a{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    #header-logo img{
        width: 60%;
    }
    
    .main-nav{
        width: 100%;
    }

    .main-nav-link{
        line-height:3;
    }

    .main-nav-link:hover,
    .main-nav-link:focus  {
        color: #0065FC;
        border-top: none;
        border-bottom: solid 2px #0065FC ;
    }
}